# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# =====================
# Virtual environment
# =====================
venv/
.env
.env.*

# =====================
# Flask
# =====================
instance/
*.log

# =====================
# VS Code
# =====================
.vscode/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db
